* {
  font-family: '8bitoperator';
  color: white;
}

@font-face {
  font-family: '8bitoperatorregular';
  src: url('./fonts/8bitoperator-webfont.eot');
  src: url('./fonts/8bitoperator-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/8bitoperator-webfont.woff2') format('woff2'),
       url('./fonts/8bitoperator-webfont.woff') format('woff'),
       url('./fonts/8bitoperator-webfont.ttf') format('truetype'),
       url('./fonts/8bitoperator-webfont.svg#8bitoperatorregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: '8bitoperator';
  background-color: black;
}

#moneyz {
  position: fixed;
  bottom: 0;
  right: 0;
}

#sans {
  position: absolute;
  top: 25%;
  left: 42%;
}

#flash-correct { 
  display: none; 
  color:#008000;
}

#flash-almost {
  display: none;
  color: #ffff00;
}

#flash-incorrect {
  display: none;
  color: #ff0000;
}

